.parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a b"
    "c c";
  justify-items: center;
}


@media (max-width: 700px) {
  .title {
    grid-area: a;
    align-self: center;
  }
  .items {
    grid-area: b;
    align-self: center;
    padding-right: 30px;
    display: block;
  }
  .dnt-butn {
    grid-area: c;
  }
  .stopCC {
    height: 592px;
    background: transparent url(/pics/annie-spratt-135307-unsplash.png) 0% 0%
      no-repeat padding-box;
    background-size: cover;
  }
  .stopCC{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "a"
    "b";
  }
  .bigbox{
    background:#FFFFFF no-repeat padding-box;
    height:210px;
    flex-direction: column;
    padding-bottom: 20px;
    margin-right: 8.5%;
    margin-left: 8.5%;
  }
  .innertopBox{
    display: flex;
    background: #354463;
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
  }
  .largeTextClimate{
    font-size: 1.375rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .module3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "a b"
    "c d";
    grid-gap: 25px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .four{
    height:136px;
    margin-bottom: 20px;
  }

  .one{
    margin-bottom: 0px;
    padding:15px;
    padding-top: 22px;
    margin-top: 0px;
  }

  .two{
    margin-top: 15px;
    margin-bottom: 15px;
    
  }
  .last{
    margin-bottom: 0px;
  }
  .module6 .pic1{
    margin-bottom: 0;
  }

  .readmore{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .module6{
    padding-bottom: 40px;
  }

  .module7{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
  }

  .letstake{
    padding-bottom: 30px;;
  }

  .treeplan{
    height:312px;
    width:312px;
    display: inline-block;
    padding-left: 23px;
    padding-bottom: 35px;
  }
  
  .treeplan img{
    height:100%;
    width:100%;
    object-fit: contain;
  }
  .earthday{
    padding-left:23px;
    padding-right:23px;
  }
  .earthtext{
    padding-top: 30px;
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 35px;
  }
  .latest{
    margin-top: 30px;
    position:relative;
    top:22px;
  }
  .subscribe{
    padding:7.5%;
  }

  .module9{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-areas: 
    "a b"
    "c d"
    "e f";

  }
  .module9 .title{
    grid-area: a;
    padding-left: 30px;
  }
  .module9 .contact{
    grid-area: b;
    padding-top: 15px;
    padding-left: 30px;
  }
  .module9 .followus{
    grid-area: c;
    padding-left: 30px;
  }
  .module9 .learnmore{
    grid-area: d;
    padding-left: 30px;
  }
  .module9 .stopclimate{
    grid-area: f;
    text-align: right;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #354463;
    
  }

}

@media (min-width:700px){
  
  .parent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "a b"
    "c b";
    grid-row-gap:20px;
    padding-bottom: 0px;
  }
  .parent .title{
    justify-self: start;
    grid-area:a;
    padding-left:45px;
    
  }
  .parent .dnt-butn{
    grid-area: b;
    align-self: center;
    border-style: none;
    background-color: #c1f7d5;
  }
  .parent .items{
    grid-area:c;
    justify-self: flex-start;
    padding-left: 0.5rem;
    /* flex-direction: row; */
  }
  .listitems{
    display: flex;
    /* justify-content: space-around; */
  }

  .listitems li{
    margin-right: 80px;
  }

  .stopCC {
    height: 592px;
    background:url(/pics/annie-spratt-135307-unsplash.png)
      center/cover no-repeat;
      width:100vw;
  }

  
}
