.parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a b"
    "c c";
  justify-items: center;
}

.gallerybox{
  padding-top: 5%;
}

@media (max-width: 700px) {
  .title {
    grid-area: a;
    align-self: center;
  }
  .items {
    grid-area: b;
    align-self: center;
    padding-right: 30px;
    display: block;
  }
  .dnt-butn {
    grid-area: c;
  }
  .stopCC {
    height: 592px;
    background: transparent
      url(/assets/about-us/annie-spratt-427339-unsplash.png) 0% 0% no-repeat
      padding-box;
    background-size: cover;
  }
  .stopCC {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "a"
      "b";
  }
  .bigbox {
    background: #ffffff no-repeat padding-box;
    height: 210px;
    flex-direction: column;
    padding-bottom: 20px;
    margin-right: 8.5%;
    margin-left: 8.5%;
  }
  .innertopBox {
    display: flex;
    background: #354463;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .largeTextClimate {
    font-size: 1.375rem;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .picandname{
    height: 55vw;
    width:38vw;
  }
  .picture{
    height: 38vw;
    width:38vw;
  }
  .picture img{
    height: 100%;
    width:100%;
    object-fit: cover;
  }

  .meet{
    text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  padding:5%
  }

  .team{
    text-align: center;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  padding:4.1%;
  padding-top: 0%;
  padding-bottom: 7%;;
  }
  .impacts2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width:700px){
  .parent{

  }

  .personname{
    position: relative;
    top:-30px;
    right:-20px;
  }
  .picandname{
    height: 55vw;
    width:38vw;
  }
  .picture{
    height: 38vw;
    width:38vw;
  }
  .picture img{
    height: 100%;
    width:100%;
    object-fit: cover;
  }
}