* {
    margin: 0%;
  }
  
  li {
    list-style-type: none;
    font-size: 14px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
  }
  
  .parent {
    text-align: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  .parent .title {
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  
  .parent .items {
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    line-height: 25px;
    padding-bottom: 10px;
  }
  
  .parent .dnt-butn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40px;
    background: #c1f7d5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
  }
  
  .parent .dnt-butn-text {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  
  
  .stopCC .stopCCtext {
    text-align: left;
    font-family: "Flood Std";
    font-size: 42px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding-top: 32px;
    padding-left: 32px;
  }
  
  .innertopBox{
    position: relative;
    top:-20px;
    width: 160px;
    height: 40px;
  
  }
  .innertopBox .text{
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
  }
  
  .largeTextClimate{
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
.module8{
    background: #C1F7D5 0% 0% no-repeat padding-box;
    padding-bottom:8%;
  }
  
  .subscribe{
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
  }

  .about-us{
    background: #354463 0% 0% no-repeat padding-box;
    padding-top:5%;
  }

  .innercontainer{
    padding:35px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap:25px;
    grid-row-gap:40px;
  } 

  .head{
    color:white;
  }
  .descrip{
    color:#FFFFFF;
    font-size: 0.875rem;
  }

  .mission{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    background: white;
    height: 40px;
    width:160px;
  }

  .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
    padding-left: 5vw;
    padding-right:5vw;
    justify-self: center;
  }
  .mission p{
    text-align: center;
    background-color: white;
  }

  .westrive{
    padding:5%;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
  }

  .personname{
    background: #354463 0% 0% no-repeat padding-box;
    color: white;
    font-size: 14px;
    text-align: center;
    padding:3%;
  }

  .ourteam{
    background-color: #354463;
    color: white;
  }


  .ourimpact-container{
    background-image: url(/assets/about-us/Impact\ Background.png);
    background-color: #354463;
    padding:5%;
  }

  .investtext{
    text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  padding:5%;
  color:white;
  }

  .no{
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
  .notext{
    text-align: center;
  font: normal normal bold 16px/20px Helvetica;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding-left:80px;
  padding-right:80px;
  padding-bottom:50px;
  }

  .meet{
    text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  padding:5%
  }

  .team{
    text-align: center;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  padding:4.1%;
  padding-top: 0%;
  padding-bottom: 7%;;
  }

  .bigbox {
    background: #ffffff no-repeat padding-box;
    height: 210px;
    flex-direction: column;
    padding-bottom: 20px;
    margin-right: 8.5%;
    margin-left: 8.5%;
  }