
.details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "c c"
    "d e"
    "g g";
}
.firstname{
  grid-area: a;
  width: 50%;
}
.lastname{
  grid-area: b;
  /* width: 115px; */
}
.streetadd{
  grid-area: c;
  /* width: 100%; */
}
.cityname{
  grid-area: d;
  /* width: 115px; */
}
.combine{
  grid-area:e;
  display: flex;
}
.emailadd{
  grid-area: g;
}



@media (max-width:600px) {
    .module9{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-areas: 
    "a b"
    "c d"
    "e f";

  }
  .module9 .title{
    grid-area: a;
    padding-left: 30px;
    padding-top:15px;
  }
  .module9 .contact{
    grid-area: b;
    padding-top: 15px;
    padding-left: 30px;
  }
  .module9 .followus{
    grid-area: c;
    padding-left: 30px;
  }
  .module9 .learnmore{
    grid-area: d;
    padding-left: 30px;
  }
  .module9 .stopclimate{
    grid-area: f;
    text-align: left;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #354463;
  }

  .details{
    grid-row-gap: 30px;
  }

  .firstname{
    grid-area: a;
    width: 50%;
  }
  .lastname{
    grid-area: b;
    /* width: 115px; */
  }
  .streetadd{
    grid-area: c;
    /* width: 100%; */
  }
  .cityname{
    grid-area: d;
    /* width: 115px; */
  }
  .combine{
    grid-area:e;
    display: flex;
  }
  .emailadd{
    grid-area: g;
  }

  .payinfo{
    font-size: 1.375rem;
  }

}

@media (min-width:600px) and (max-width:1000px){

  .module9{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "a b c"
      "a e f";
      grid-row-gap: 35px;
  }
  .title{
    grid-area: a;
  }
  .contact{
    grid-area: b;
  }
  .followus{
    grid-area: c;
  }
  .learnmore{
    grid-area: e;
  }
  .stopclimate{
    grid-area: f;
    text-align: left !important;
  }
  

}

@media (min-width:1000px){
  .module9{
    display: flex;
  }
  .stopclimate{
    text-align: center;
  }
  .innerinput{
    position: relative;
    width:43vw;
    height:65vh;
    top:-149px;
  }
  .name{
    width: 20vw;
  }
  .small{
    width: 10vw;
  }
  .big{
    width: 40vw;
  }
  .quote{
    position: relative;
    width: 384px;
    height:362px;
    font-size:4.2rem;
    right:-1006px;
    bottom:-100px;
    line-height: 75px;
  }
  .header{
    font-size:1.75rem;
    line-height:38px;
    padding-top:1%;
    padding-bottom: 1%;
  }
  .title{
    padding-right:20px;
  }
  .contact{
    padding-right:10px;
    padding-left:10px;
  }
  .pay{
    position: relative;
    bottom: -16px;
  }
  .goback{
    position:relative;
    top:-35px;
  }
}
