* {
  margin: 0%;
}

li {
  list-style-type: none;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

.parent {
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding-top: 10px;
  padding-bottom: 20px;
}

.parent .title {
  text-align: left;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}

.parent .items {
  text-align: left;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
  line-height: 25px;
  padding-bottom: 10px;
}

.parent .dnt-butn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 40px;
  background: #c1f7d5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;
}

.parent .dnt-butn-text {
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}


.stopCC .stopCCtext {
  text-align: left;
  font-family: "Flood Std";
  font-size: 42px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-top: 32px;
  padding-left: 32px;
}

.innertopBox{
  position: relative;
  top:-20px;
  width: 160px;
  height: 40px;

}
.innertopBox .text{
  text-align: center;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #FFFFFF;
}

.largeTextClimate{
  text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
.smallerText{
  text-align: center;
  padding-top: 20px;
  font-size: 0.875rem;
  font: Helvitica light;
}

.takeaction{
  text-align: center;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #FFFFFF;
  position: relative;
  width: 160px;
  height: 40px;
  display: flex;
  background: #354463;
  align-items: center;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
  top: 81px;
}
.module3{
  background: #C1F7D5 0% 0% no-repeat padding-box;
  padding:28px;
}

.head{
  text-align: left;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  padding-bottom: 10px;
}

.dec{
  text-align: left;
  font: normal normal 300 14px/20px;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}

.module4{
  background: #354463 0% 0% no-repeat padding-box;
  padding-bottom: 1px;
}

.whatwedo{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  text-align: center;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  position: relative;
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
  top:35px;
}

.ourmission{
  padding-top: 10px;;
  text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  display:flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top:50px;
  margin-bottom: 100px;
}

.box{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  height:415px;
  margin-top: 40px;
  /* padding-bottom: 40px; */
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  margin-left: 8.5%;
  margin-right: 8.5%;
  margin-bottom: 100px;;
}

.pic{
  margin-top: -75px;
  height: 176px;
  width: 248px;
  background-size: contain;
  /* overflow: hidden; */
}

.box .title{
  text-align: center;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
  padding-top: 35px;
  padding-bottom: 30px;
}

.box .desc{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 8%;
}


.butn{
  width: 152px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: normal normal normal 16px/20px;
  background: #C1F7D5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  /* margin-top: 20px; */
}

.module5{
  background: transparent url('/pics/Did\ you\ know\ background.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  height:1108px;
  background-size:cover;
}

.module5 .text{
  font-size:2.75rem;
  text-align: left;
  font: normal normal normal 44px/46px Flood Std;
  color:#FFFFFF;width: 312px;
  height: 192px;
  padding-left: 30px;
  padding-top: 55px;
}

.module5 .butn{
  margin-left: 30px;
  margin-top: 10px;
}

.diduknow{
  background: #354463 0% 0% no-repeat padding-box;
  border-radius: 0%;
  color:#FFFFFF;
  position: relative;
  top: 20px;
  left:63px;
}

.stories{
  background: #354463 0% 0% no-repeat padding-box;
  border-radius: 0%;
  color:white;
  position: relative;
  left:0%;
  top:60px;
}

.four{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas: 
  "high twticon"
  "low fbicon";
  grid-row-gap:0px;
}

.high{
  text-align:justify;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  padding-left: 15px;
}


.twticon{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C1F7D5 0% 0% no-repeat padding-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.low{
  padding-left: 15px;
  text-align: left;
}
.fbicon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #C1F7D5 0% 0% no-repeat padding-box;
  border-radius: 50%;
}

.two{
  padding:25px;
}

.module5{
  padding-bottom: 45px;
}

.module6{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding-bottom: 20px;
}

.pic1{
  display: inline-block;
}

.pic1 img{
  width: 100%; 
    height: 100%;
    object-fit: contain;
}

.module6 .box{
  height:auto;
}

.second{
  background: #354463 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7%;
  margin-top:7%;
  margin-left:8%;
  margin-right:8%;
  margin-bottom: 5%;
}

.t1{
  text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-bottom: 10%;
}

.t2{
  text-align: center;
  font: normal normal normal 11px/13px Helvetica;
  letter-spacing: 0.44px;
  color: #FFFFFF;
  opacity: 1;
}

/*module7 start from here*/

.module7{
  background: #354463 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  padding-top: 15%;
}
.module7 .event{
  background-color: white;
}

.event{
  border-radius: 0%;
}

.letstake{
  text-align: center;
  font: normal normal normal 44px/46px Flood Std;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.module7 .butn{
  border-radius: 0px;
  background-color: white;
  font-size: 0.92rem;
}

.earthday{
  text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.earthtext{
  color:white;
}
.module7 .butn{
  border-radius: 100px;
  background: #C1F7D5 0% 0% no-repeat padding-box;
}

.module7 .latest{
  border-radius: 0%;
  background-color: #FFFFFF;
}

.module8{
  background: #C1F7D5 0% 0% no-repeat padding-box;
  padding-bottom:8%;
}

.subscribe{
  text-align: left;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #354463;
}

.subscribe-container{
  display: flex;
  justify-content: space-around;
  padding:0 5%;
  height:40px;
}


.email-input{
  border-radius: 100px;
  padding-left:15px;
  border-style: none;
  outline:none;
}

.butn-subr{ 
  border-radius: 100px;
  text-align: left;
  background: #354463 0% 0% no-repeat padding-box;
  font: normal normal bold 16px/19px Helvetica;
  letter-spacing: 0px;
  color: #C1F7D5;
  padding: 10px;
  border-style:hidden;
}

.module9{
  display: flex;
  justify-content: space-around;
  padding:5%;
}

.module9 .title{
  text-align: left;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  height: 62px;
  width:94px;
  font-size: 1.125rem;
}

.contact{
  /* height:74px;
  width:140px; */
  font-size: 0.875rem;
}

.followus{
  font-size: 14px;
}

.followus li{
  font-size: 0.875rem;
  text-align: left;
}
.learnmore{
  font-size:0.875rem;
}

.leftpad{
  padding: 0%;
  text-decoration: underline;
}