*{
    margin: 0%;
}

.header{
    padding:5% 5%;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
}

.module9{
    display: flex;
    justify-content: space-around;
    padding:5%;
  }
  
  .module9 .title{
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    height: 62px;
    width:94px;
    font-size: 1rem;
  }
  .contact{
    /* height:74px;
    width:140px; */
    font-size: 0.875rem;
  }
  
  .followus{
    font-size: 14px;
  }
  
  .followus li{
    font-size: 0.875rem;
    text-align: left;
  }
  .learnmore{
    font-size:0.875rem;
  }
  
  .leftpad{
    padding: 0%;

    text-decoration: underline;
  }

  li{
    list-style-type: none;
  }

  .inputform{
    background-image: url(/assets/donation/annie-spratt-427340-unsplash.png);
    background-size: cover;
    padding:8.5%;
  }

  .quote{
    text-align: center;
    font: normal normal normal 32px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
  }

  .innerinput{
    background: #354463 0% 0% no-repeat padding-box;
    padding: 6%;

  }

  .urinfo{
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    padding-bottom: 10px;
    color: #FFFFFF;
  }

  label{
    color: #FFFFFF;
    font-size:11px;
  }

  .name{
    width:30vw;
    background: #354463 0% 0% no-repeat padding-box;
    border:none;
    border-bottom:2px solid #C1F7D5;
    outline: none;
    color: #C1F7D5;
  }

  .big{
    width:66vw;
  }

  .small{
    width:15vw;
  }

  .name::placeholder{
    color:#a89e9e;
    margin-top: -500px;
  }

  .payinfo{
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-top:30px;
    padding-bottom:35px;
  }

  .expiresecure{
    display: flex;
    padding-top: 12px;
    padding-bottom: 20px;
  }

  .securi{
    margin-left:10px;
  }

  .pay{
    width:249px;
    height:49px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }

  .goback{
    font-size: 0.875rem;
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #C1F7D5;
  }

  .module9 .stopclimate{
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #354463;
  }